// Navbar module
.navbar {
  background-color: map-get($colors, lightgray);
  padding:10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

 
  &__item {
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 400;
    color: map-get($colors, gray);
  }

  &__item--active {
    font-weight: 700;
    color: map-get($colors, darkgray);
  }
 
  .button {
    background-color: $green;
    color: map-get($colors, ui-light);
    font-size:16px;
    border:1px solid map-get($colors, ui-transparent);
    border-radius: 5px;
    padding: 2px 15px;
    outline: none;
    text-decoration: none;
  }
}
