// Todo module.
.todo {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 40px 100px;
  padding: 40px;
  border: none;
  border-bottom: 1px solid map-get($colors, lightgray);
  
  div:first-of-type {
    display: flex;
    align-items: center;

    .items:first-of-type {
      display: flex;
      align-items: center;
      color: map-get($colors, darkgray);

      .box {
        border: 1px dashed map-get($colors, gray);
        width: 20px;
        height: 20px;
        margin-right: 40px;
        background: linear-gradient($lightgray, map-get($colors, ui-light), map-get($colors, ui-light));
      }
    }
    .items:last-of-type {
      display: none;
    }
  }

  &--status-complete {
    div:first-of-type { 
      .items:first-of-type {
        text-decoration: line-through;
        color: map-get($colors, lightgray);

        .box::after {
          content: '\2713';
          font-size: 35px;
          color: $green;
          position: absolute;
        }
      }
      .items:last-of-type {
        display: block;

        .archiveBtn {
          color: map-get($colors, ui-light);
          background-color: $green;
          padding: 5px 20px;
          border-radius: 5px;
          margin-left: 20px;
          text-align: center;
        }
      }
    }
  }

  &--filtered {
    display: none;
  }
  
}


