// Todo module.
.todo {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 40px 100px;
  padding: 40px;
  border: none;
  border-bottom: 1px solid map-get($colors, lightgray);

  &--status-complete {
    div:first-of-type {
      text-decoration: line-through;
      color:map-get($colors, lightgray);
    }
  }

  &--filtered {
    display: none;
  }
  
}


